<% if user_signed_in? %>

  <h2>New position</h2>

  <%= render 'form' %>

  <%= link_to 'Back', positions_path %>

<% else %>

  <p>Please <%= link_to 'Sign In', new_user_session_path %>!</p>

<% end %>
