<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Welcome to the Armstrong ACM, <%= @member.name %></h1>

    <p>You have successfully signed up! If you have not yet paid your dues and gotten your t-shirt, please see Justin McNamara or Dustin Schie. ACM Chapter dues are a one-time fee of $15.</p>

    <p>You may email us at armstrong.acm@gmail.com or see is in SC 122.</p>

    <p>Thanks for joining and see you at the next meeting!</p>
  </body>

</html>
