<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>You have a new member: </h2>
    <table>
      <tr><td><%= @member.name %></td></tr>
      <tr><td><%= @member.email %></td></tr>
    </table>
    <p>Try to be nice!</p>
  </body>
</html>
