<br />
<br />
<br />
<center>
  <p class="muted credit">Armstrong ACM<br />
    <%= mail_to 'armstrong.acm@gmail.com' %><br />
    <%= link_to 'www.Facebook.com/AASUACM', 'http://www.facebook.com/aasuacm' %>
  </p>
</center>
