<% if user_signed_in? %>

  <h2>Edit Member Info</h2>

  <%= render 'form' %>

  <%= link_to 'Show', @member %> |
  <%= link_to 'Back', members_path %>

<% else %>

  <p>Please <%= link_to 'Sign In', new_user_session_path %>!</p>

<% end %>
